<h1>Pandas</h1>

In [ ]:
-Pandas tabular datadan oluşan bir dataframeden türetilir. Pandasın kullanıldığı
data, row ve columndan oluşur. Datayı keşfetme, temizleme ve işlemeye yarar.

-Bir veri setini incelemenin birkaç yolu var. <br>
 -table_name.head(): Bu fonksiyon, ilgili tablonun ilk birkaç satırını döndürmeye yarar.<br>
 -table_name.info(): sütun adlarını, içerdiği veri türlerini ve eksik değerleri olup olmadığını belirtir.<br>
 -table_name.shape: dataframe'in satır ve sütun sayısını tutan bir tiuple içerir.<br>
 -table_name.describe(): sayısal sütunlar için, ortalama ve medyan gibi özet istatistikleri içerir.<br>
 -table_name.values: veri değerlerinin tamamını array olarak alma.<br>
 -table_name.columns: dataframedeki tüm sütunları çıktı olarak alma.<br>

In [1]:
import pandas as pd ##Pandası import ettik.
import numpy as np

In [ ]:
columns = ['Student ID', 'Course ID', 'Marks']
data = [(103, 201, 67), (103, 203, 67), (103, 204, 89)]
df = pd.DataFrame(data, columns=columns)
df.at['Total marks', 'Marks'] = df['Marks'].sum()

print(df)

In [ ]:
dates = pd.date_range("20240101", periods=20)b
df = pd.DataFrame(np.random.randn(20, 4), index=dates, columns=list("ABCD"))
print(df)

In [ ]:
df.head() ##ilk birkaç satırını veriyor.

In [ ]:
df.info ##tablo ile alaklı bilgi veriyor.

In [ ]:
df.shape ##satır ve sütun sayısını veriyor.

In [ ]:
df.describe()

In [ ]:
df.values

In [ ]:
df.columns

In [ ]:
dates = pd.date_range(start = "01/01/2024", periods = 12, freq = 'M') #ay bazlı

In [ ]:
print(dates)

-table_name.sort_values("sortlanmak istenen column") <br>
-bu metod ile veriyi <b>küçükten büyüğe</b>  sıralayabiliriz. <br>
-table_name.sort_values("sortlanmak istenen column", ascending=False) <br>
-bu metod ile <b>büyükten küçüğe</b> sıralama yapabiliriz. <br>
-table_name.sort_values("sortlanmak istenen column", "sortlanmak istenen diğer column") <br>

In [ ]:
df.sort_values("A", b)

-table_name["column_name"], ilgili dataframein tek bir satırını almak için kullanılır<br>
-birden fazla satır almak için, table_name[["column_name1","column_name2"]]<br>
-yukarıdaki işlemde, dış parantezler ilgili data frame'in alt kümesini almaya yarıyorken, iç parantezler almak istediğimiz kısmın columnlarını içeriyor.

In [ ]:
half_df = df[["A","B"]]

In [ ]:
print(half_df)

-dogs[dogs["height_cm"] > 50] --> Bu kod bloğu, boyu 50 cm'den yüksek olan köpeklerin filtrelenmesine yaramaktadır. <br>
-dogs[dogs["tür"] == "Labrador"] --> Bu kod bloğu, labrador cinsi köpeklerin filtrelenmesine yarıyor. <br>
-dogs[dogs["date_of_birth"] < "2015-01-01"] --> bu kod bloğu, tarihsel olarak 2015 yılından önce doğan tüm köpeklerin filtrelenmesine yarıyor.
-is_height = dogs[dogs["height_cm"] > 50] <br>
-is_breed = dogs[dogs["tür"] == "Labrador"] <br>
-dogs[is_height & is_breed] --> iki filtrenin birleştirilmesi <br>
-birleştirmenin tek satır hali --> dogs[(dogs["height_cm"] > 50) & (dogs["tür"] == "Labrador")] <br>
-is_black_or_brown = dogs["color"].isin(["Black","Brown"]) --> isin metodu ile birden fazla filtreleme değeri atabiliyoruz.

In [ ]:
data = [(103, 201, 67,'fatih'), (103, 203, 67), (103, 204, 89), (13, 24, 81)]
df = pd.DataFrame(data, columns = ['Student ID', 'Course ID', 'Marks','AUM'])


print(df)

In [ ]:
mdata = [(123,'fatih','türkiye',3000),
        (345,'tuğçe','makedonya',4000),
        (678,'gökmen','ısparta',5000),
        (91011,'ayşegül','kapaklı',6000),
       (121314,'mehmet','sütçüler',7000),
       (151617,'fatma','belen',9000),
       (181920,'ahmet','beylikdüzü',10000)]

In [ ]:
mdf = pd.DataFrame(mdata,columns=['Cust ID','Full NM','Country','AUM'])
print(mdf)

In [ ]:
mdf.head() ##ilk birkaç satırı aldım.

In [ ]:
mdf.describe ##tabloyu tanımladım.

In [ ]:
mdf.columns ##kolonlara baktık

In [ ]:
mdf.shape ##satır ve sütun sayılarına baktık

In [ ]:
mdf.describe() ##sayısal sütunları özetledik.

In [ ]:
mdf.sort_values("AUM") ##smallest to largest sort

In [ ]:
mdf.sort_values("AUM", ascending = False)

In [ ]:
mdata = [(123,'fatih','makedonya',23,3000),
        (345,'tuğçe','tekirdağ',22,4000),
        (678,'gökmen','manastır',53,5000),
        (91011,'ayşegül','ısparta',51,6000),
       (121314,'mehmet','sütçüler',81,7000),
       (151617,'tito','çukurbostan',64,9000),
       (181920,'toto','çukurbostan',62,10000)]

In [ ]:
import pandas as pd

In [ ]:
mdf = pd.DataFrame(mdata,columns=['Cust ID','Full NM','Country','Age','AUM'])
print(mdf)

In [ ]:
mdf.sort_values("AUM", ascending=False)

In [ ]:
mdf.sort_values(["AUM","Age"],ascending=[True,False])

In [ ]:
mdf[mdf["AUM"]>=4000]

In [ ]:
mdf[mdf["Country"]=="çukurbostan"]

In [ ]:
mdf[(mdf["Country"]=="sütçüler")&(mdf["Age"]==81)] ##ikili filtre

In [ ]:
mdf

In [ ]:
count = mdf.shape[0]

In [ ]:
mdf["AUM_AVE"] = mdf["AUM"]/count #yeni satır ekleme

In [ ]:
mdf

In [ ]:
mdf

In [ ]:
mdf["AUM"].mean()

In [ ]:
mdf["AUM"].median()

In [ ]:
mdf["AUM"].mode()

In [ ]:
mdf["AUM"].sum()

In [ ]:
# Print the head of the sales DataFrame
print(mdf.head())

# Print the info about the sales DataFrame
print(mdf.info())

# Print the mean of weekly_sales
print(mdf["AUM"].mean())

# Print the median of weekly_sales
print(mdf["AUM"].median())

*Duplicate valueları silmek
-tekrar eden aynı değerleri silmek için kullanılan metod.
--unique_dogs = vet_visits.drop_duplicates(subset="name") --> bu kod ile, birden fazla kez veterinere gitmiş olan name kolonundaki köpekleri sileceğiz ve tek değere düşüreceğiz.
--birden fazla kolona duplicate atmak için, alt küme oluşturuyoruz.
--unique_dogs = vet_visits.drop_duplicates(subset = ["name", "breed"])
--bu değerleri saydırmak için --> unique_dogs["breed"].value_counts() eğer sortlamak istiyorsak, value_counts metodunun içinde sort yazarsak output istediğimiz türden sıralı hale gelecek.
--eğer oran bazında bakmak istersek, value_counts(normalize=True)

In [ ]:
# Count the number of stores of each type
store_counts = store_types["type"].value_counts()
print(store_counts)

# Get the proportion of stores of each type
store_props = store_types["type"].value_counts(normalize = True)
print(store_props)

# Count the number of stores for each department and sort
dept_counts_sorted = store_depts["department"].value_counts(sort = True )
print(dept_counts_sorted)

# Get the proportion of stores in each department and sort
dept_props_sorted = store_depts["department"].value_counts(sort= True, normalize= True)
print(dept_props_sorted)

--Grouped Summary Statistic
-SQL'deki GROUP BY metodu ile aynı mantık. 
-Örneğin bir köpek dataseti var. Çeşitli renkleri ve ırkları olsun. 
Burda köpeklerin renklerine göre almak istediğimiz zaman aşağıdakki kodu yazacaktık:
dogs[dogs["color"] == "Black"]["weight_kg"].mean()
dogs[dogs["color"] == "Yellow"]["weight_kg"].mean()
dogs[dogs["color"] == "White"]["weight_kg"].mean()
-Group metodu ile aşağıdaki şekilde kodu kısaltabiliyoruz;
dogs.groupby("gruplamak istenilen column")["hangi kolona göre gruplamak istediğimiz).mean()
-Örneğin, köpeklerin renklerine göre kilolarını gruplamak istediğimizde:
dogs.groupby("colors")["weight"].mean()
-Birden fazla istatistiki değeri elde etmek için:
dogs.groupby("colors")["weight"].agg([min,max,sum])
-Örneğin, birden fazla sütunda gruplamak istediğimizde;
dogs.groupby(["colors","breed"])["weight"].mean()

In [ ]:
# Calc total weekly sales
sales_all = sales["weekly_sales"].sum()

# Subset for type A stores, calc total weekly sales
sales_A = sales[sales["type"] == "A"]["weekly_sales"].sum()

# Subset for type B stores, calc total weekly sales
sales_B = sales[sales["type"] == "B"]["weekly_sales"].sum()

# Subset for type C stores, calc total weekly sales
sales_C = sales[sales["type"] == "C"]["weekly_sales"].sum()

# Get proportion for each type
sales_propn_by_type = [sales_A, sales_B, sales_C] / sales_all
print(sales_propn_by_type)

In [ ]:
# From previous step
sales_by_type = sales.groupby("type")["weekly_sales"].sum()

# Group by type and is_holiday; calc total weekly sales
sales_by_type_is_holiday = sales.groupby(["type","is_holiday"])["weekly_sales"].sum()
print(sales_by_type_is_holiday)

In [ ]:
# Import numpy with the alias np
import numpy as np

# For each store type, aggregate weekly_sales: get min, max, mean, and median
sales_stats = sales.groupby("type")["weekly_sales"].agg([np.min, np.max, np.mean, np.median])


# Print sales_stats
print(sales_stats)

# For each store type, aggregate unemployment and fuel_price_usd_per_l: get min, max, mean, and median
unemp_fuel_stats = sales.groupby("type")[["unemployment", "fuel_price_usd_per_l"]].agg([min, max, np.mean, np.median])

# Print unemp_fuel_stats
print(unemp_fuel_stats)

**Pivot Table
*tablo_adı.pivot_table(values = "değerleri alınacak kolon", index = "pivotlanacak kolon, yani ilk kolon", aggfunc=[np.mean, np.median], fill_value=0 (eğer pivotta null değer var ise 0 yapmak için)

In [ ]:
mdf.pivot_table(values = "AUM", index = "Country", aggfunc=[np.mean,np.median])

In [ ]:
# Pivot for mean weekly_sales by store type and holiday 
mean_sales_by_type_holiday = sales.pivot_table(values = "weekly_sales", index = "type", columns= "is_holiday")

# Print mean_sales_by_type_holiday
print(mean_sales_by_type_holiday)

In [ ]:
# Print the mean weekly_sales by department and type; fill missing values with 0s; sum all rows and cols
print(sales.pivot_table(values="weekly_sales", index="department", columns="type", margins= True))

In [12]:
data = {
    'Tarih': ['2024-01-01', '2024-01-02', '2024-01-03'],
    'Satış': [100, 200, 150],
    'Müşteri': ['A', 'B', 'C']
}

df = df.set_index('Tarih')

print(df)

            Satış Müşteri
Tarih
2024-01-01    100       A
2024-01-02    200       B
2024-01-03    150       C

In [39]:
print(df.iloc[1:2])

            Satış Müşteri
Tarih
2024-01-02    200       B

In [42]:
df.reset_index()

        Tarih  Satış Müşteri
0  2024-01-01    100       A
1  2024-01-02    200       B
2  2024-01-03    150       C

In [43]:
df

            Satış Müşteri
Tarih
2024-01-01    100       A
2024-01-02    200       B
2024-01-03    150       C

In [ ]:
# Look at temperatures
print(temperatures)

# Set the index of temperatures to city
temperatures_ind = temperatures.set_index("city")

# Look at temperatures_ind
print(temperatures_ind)

# Reset the temperatures_ind index, keeping its contents
print(temperatures_ind.reset_index())

# Reset the temperatures_ind index, dropping its contents
print(temperatures_ind.reset_index(drop=True))

In [ ]:
# Make a list of cities to subset on
cities = ["Moscow", "Saint Petersburg"]

# Subset temperatures using square brackets
print(temperatures[temperatures["city"].isin(cities)])

# Subset temperatures_ind using .loc[]
print(temperatures_ind.loc[cities])

In [ ]:
# Index temperatures by country & city
temperatures_ind = temperatures.set_index(["country", "city"])

# List of tuples: Brazil, Rio De Janeiro & Pakistan, Lahore
rows_to_keep = [("Brazil", "Rio De Janeiro"), ("Pakistan", "Lahore")]

# Subset for rows to keep
print(temperatures_ind.loc[rows_to_keep])

In [ ]:
# Sort temperatures_ind by index values
print(temperatures_ind.sort_index())

# Sort temperatures_ind by index values at the city level
print(temperatures_ind.sort_index(level="city"))

# Sort temperatures_ind by country then descending city
print(temperatures_ind.sort_index(level=["country", "city"], ascending=[True, False]))