<h1>Pandas</h1>

In [ ]:
-Pandas tabular datadan oluşan bir dataframeden türetilir. Pandasın kullanıldığı
data, row ve columndan oluşur. Datayı keşfetme, temizleme ve işlemeye yarar.

-Bir veri setini incelemenin birkaç yolu var. 
 -table_name.head(): Bu fonksiyon, ilgili tablonun ilk birkaç satırını döndürmeye yarar.
 -table_name.info(): sütun adlarını, içerdiği veri türlerini ve eksik değerleri olup olmadığını belirtir.
 -table_name.shape: dataframe'in satır ve sütun sayısını tutan bir tuple içerir.
 -table_name.describe(): sayısal sütunlar için, ortalama ve medyan gibi özet istatistikleri içerir.
 -table_name.values: veri değerlerinin tamamını çıktı olarak alma.
 -table_name.columns: dataframedeki tüm sütunları çıktı olarak alma.

In [10]:
import pandas as pd ##Pandası import ettik.
import numpy as np

In [11]:
columns = ['Student ID', 'Course ID', 'Marks']
data = [(103, 201, 67), (103, 203, 67), (103, 204, 89)]
df = pd.DataFrame(data, columns=columns)
df.at['Total marks', 'Marks'] = df['Marks'].sum()

print(df)

             Student ID  Course ID  Marks
0                 103.0      201.0   67.0
1                 103.0      203.0   67.0
2                 103.0      204.0   89.0
Total marks         NaN        NaN  223.0

In [14]:
dates = pd.date_range("20240101", periods=6)
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list("ABCD"))
print(df)

                   A         B         C         D
2024-01-01  0.714794  1.125082  1.295531  2.292352
2024-01-02  0.119906 -0.655619  0.328319  1.698731
2024-01-03 -0.528363 -0.772886 -0.790594  0.750522
2024-01-04 -0.662580 -2.132593  1.545492  0.923519
2024-01-05 -0.051185 -0.441806  0.559573  0.451746
2024-01-06  0.173404 -1.569589 -0.599463  0.009255

In [15]:
df.head()

                   A         B         C         D
2024-01-01  0.714794  1.125082  1.295531  2.292352
2024-01-02  0.119906 -0.655619  0.328319  1.698731
2024-01-03 -0.528363 -0.772886 -0.790594  0.750522
2024-01-04 -0.662580 -2.132593  1.545492  0.923519
2024-01-05 -0.051185 -0.441806  0.559573  0.451746

In [ ]:
df.in